<div *ngIf="weather && w" [ngClass]='getWeatherClass(w.weather_state_name)' class="card m-2"
     style="width: 18rem; height: 90%; z-index: 999999;">

  <!--  //Image-->
  <img *ngIf="w.weather_state_name === 'Clear'" alt="Sun image" class="card-img-top img-weather"
       src="assets/img/sun.png">
  <img *ngIf="w.weather_state_name === 'Clouds'" alt="Cloud image" class="card-img-top img-weather"
       src="assets/img/cloud.png">
  <img *ngIf="w.weather_state_name === 'Rain'" alt="Cloud image" class="card-img-top img-weather"
       src="assets/img/rain.png">
  <div class="card-body  body-card-position text-light">
    <!--    //Ville informations-->
    <div class="cityInformations basic-font">
      <p class="card-title m-0 text-center ">{{weather.address.city || weather.displayName.split(',')[0]}}</p>

      <p class="region m-0 text-center">{{weather.address.county}}</p>
      <p class="WeatherStation m-0 text-center">Station {{station.nom}}</p>

    </div>
    <!--    //Météo-->
    <div class="detailsWeather row mt-4 ">
      <p class="degree m-0 text-center ">{{w.temperature | number : '1.0-0'}}°C</p>
      <p class="degreeAppreciation m-0 text-center ">{{translateWeatherToFrench(w.weather_state_name)}}</p>
    </div>
    <!--    //Qualité de l'air-->
    <div class="detailsAirQuality mt-4">

      <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p class="m-0">Correct</p></span>
      <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div class="actionBtn me-4">

        <a [routerLink]="['/user/station']" [queryParams]="{stationName: station.nom, stationCode: station.code}" class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Plus
          d'informations
        </a>
      </div>
      <i (click)="addFavorite()" [ngClass]="w.liked?'text-red bi bi-heart-fill':'text-red bi bi-heart'"
         style="cursor: pointer"></i>
    </div>
  </div>
</div>
