<div class="container min-vh-100">
    <div class="my-3"><a href="" class="text-decoration-none link-primary" routerLink="/forum"><i class="bi bi-arrow-left-circle"></i> Retour</a></div>
    <div class="mt-md-5">
        <h1 class="text-primary h2">POSTS</h1>
    </div>

    <div class="row">
        <!-- Listes des posts -->
        <div class="col-md-6">
            <!-- Button pour faire une publication -->
            <div class="list-group-item text-black my-2">
                <div class="d-flex justify-content-between">
                    <div class="profil">
                        <a href="" class="text-decoration-none">
                            <img src="/assets/img/img-profil.png" class="rounded-circle" alt="">
                        </a>
                    </div>
                    <div class="d-grid gap-2 btn-post rounded-pill mx-2">
                        <button type="button" class="btn btn-secondary rounded-pill text-start text-black" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                         Publier un post
                        </button>

                        <!-- Modal publier post-->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <!-- Modal header -->
                                    <div class="modal-header">
                                        <h5 class="modal-title h6" id="createPostModalLabel">Créer un post</h5>
                                        <button class="border-0 rounded-circle bg-light"><i class="bi bi-x-lg" data-bs-dismiss="modal" aria-label="Close"></i></button>
                                    </div>
                                    <!-- Modal body -->
                                    <form (submit)="newPost()" [formGroup]="postForm">
                                        <div class="modal-body">
                                            <div class="d-flex justify-content-between align-items-center profil">
                                                <div class="d-flex align-items-center">
                                                    <img src="/assets/img/img-prof.jpg" class="rounded-circle" alt="">
                                                    <ul class="list-unstyled text-black ms-3">
                                                        <li class="fs-6 fw-light">Pseudo User</li>
                                                        <li class="fs-6 fw-lighter">
                                                            <div class="input-group">

                                                                <select class="form-select" id="inputGroupSelect04" aria-label="Select de plusieurs catégories">

                                                                  <option selected>Air</option>
                                                                  <option value="1">Pollution</option>
                                                                  <option value="2">Météo</option>
                                                                  <option value="3">Conseils</option>
                                                                </select>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <control-messages [control]="postForm.get('title')" class="control d-flex justify-content-center col-12"></control-messages>
                                                <input type="text" class="p-1 bg-body border-1 rounded-1 border-secondary form-control" formControlName="title" id="title" name="title" placeholder="Titre du sujet" required />
                                            </div>
                                            <div class="my-2">

                                                <control-messages [control]="postForm.get('lastname')" class="control d-flex justify-content-center col-12"></control-messages>
                                                <input id="exampleFormControlTextarea1" class="form-control" rows="4" formControlName="message" name="message" placeholder="Écrire quelque chose..." required />
                                            </div>
                                            <div class="d-flex justify-content-end">
                                                <button class="border-0 rounded-circle bg-light end me-2"><i class="bi bi-camera-fill"></i></button>
                                                <button class="border-0 rounded-circle bg-light end"><i class="bi bi-camera-reels-fill"></i></button>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" [disabled]="!postForm.valid" class="btn btn-secondary w-100">Publier</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Affichage des posts -->
            <div class="card my-2">
                <div class="card-body">
                    <div class="d-flex justify-content-between border-bottom">
                        <div class="d-flex profil">
                            <img src="/assets/img/img-prof.jpg" class="rounded-circle" alt="">
                            <ul class="list-unstyled text-black ms-3">
                                <li class="fs-6 fw-light">Pseudo User</li>
                                <li class="fs-6 fw-lighter">Date</li>
                            </ul>
                        </div>
                        <!-- Button trigger modal -->
                        <button class="btn btn-link text-black" type="button" data-bs-toggle="modal" data-bs-target="#postModal"><i class="bi bi-three-dots-vertical"></i></button>

                        <!-- Modal -->
                        <div class="modal fade" id="postModal" tabindex="-1" aria-labelledby="postModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content bg-secondary w-50 ">
                                    <div class="modal-body mt-2">
                                        <ul class="list-unstyled text-center">
                                            <li>
                                                <button type="button" class="btn btn-link text-decoration-none text-danger">Signaler</button>
                                            </li>
                                            <li class="border-top">
                                                <button type="button" class="btn btn-link text-decoration-none text-danger">Supprimer</button>
                                            </li>
                                            <li class="border-top">
                                                <button type="button" class="btn btn-link text-decoration-none">Modifier</button>
                                            </li>
                                            <li class="border-top">
                                                <button type="button" class="btn btn-link text-decoration-none">Copier le lien</button>
                                            </li>
                                            <li class="border-top">
                                                <button type="button" class="btn btn-link text-decoration-none " data-bs-dismiss="modal" aria-label="Close">Annuler</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin modal -->
                    </div>
                    <h5 class="card-title pt-2">Mon titre</h5>
                    <p class="card-text">Ut ornare nibh sit amet leo sollicitudin malesuada. Nam ac enim in elit gravida rhoncus et ut nulla. Nulla elit orci, vulputate a volutpat</p>

                </div>
                <img src="/assets/img/img-prof.jpg" class="card-img-top" alt="...">
                <!-- Les placeholders likes et commentaires -->
                <div class="d-flex justify-content-between ps-md-5 py-1">
                    <span class="text-black ms-3 text-placeholers">12 k</span>
                    <span class="text-black me-3 text-placeholers">123 commentaires</span>
                </div>
                <div class="d-flex justify-content-between ps-md-5 py-2 border-top">
                    <button type="button" class="btn  btn-sm"><i class="bi bi-hand-thumbs-up"></i> J'aime</button>
                    <button type="button" class="btn  btn-sm me-3"><i class="bi bi-chat-left-text"></i> Commenter</button>
                </div>
                <!-- Ajout des éléments une fois cliquer le botton Commenter -->
                <div class="d-block">
                    <!-- Button pour faire un commentaire -->
                    <div class="list-group-item border-0 text-black">
                        <div class="d-flex justify-content-between">
                            <div class="profil">
                                <a href="" class="text-decoration-none">
                                    <img src="/assets/img/img-profil.png" class="rounded-circle" alt="">
                                </a>
                            </div>
                            <form class="d-grid gap-2 btn-post rounded-pill mx-2">
                                <input type="text" class="ps-3 bg-body rounded-pill text-start text-black" placeholder="Écrire un commentaire">
                            </form>
                        </div>
                    </div>
                    <!-- Fin du button -->

                    <!-- Ajout d'un button pertinent -->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      Les plus pertinents </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <!-- Fin du button Pertinent -->

                    <!-- Ajout de commentaire -->
                    <div class="d-flex">
                        <div class="profil ms-3 mt-2">
                            <a href="" class="text-decoration-none">
                                <img src="/assets/img/img-profil.png" class="rounded-circle" alt="">
                            </a>
                        </div>
                        <div>
                            <p class="border rounded mx-3 p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis dignissimos molestias recusandae beatae! Aliquid quisquam quos, soluta in, amet ad consequatur, eos libero iste illum obcaecati mollitia! Animi,
                                quam?
                            </p>
                            <ul class="list-unstyled d-flex justify-content-around">
                                <li>J'aime <i class="bi bi-hand-thumbs-up"></i></li>
                                <li>|</li>
                                <li>Répondre</li>
                            </ul>
                        </div>

                    </div>
                    <!-- Fin de l'ajout de commentaire -->
                </div>
            </div>
            <!--  -->

        </div>

        <!-- Fin de la listes -->
        <div class="col-md-6 d-none d-md-block border-left end">
            <!-- Form Recherche -->
            <div class="d-flex my-sm-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Que recherchez-vous ? " aria-label="Search">
                    <button class="btn btn-outline-secondary text-black" type="submit">Rechercher</button>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- Modals -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-secondary rounded-pill text-start text-black" data-bs-toggle="modal" data-bs-target="#exampleModal">
  publier
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->
