<div class="container min-vh-100">
    <div class="mt-md-5">
        <h1 class="text-light">NEWS POSTS</h1>
    </div>

    <div class="row">
        <!-- Listes des posts -->
        <div class="col-md-6">
            <!-- Button pour faire une publication -->
            <div class="list-group-item text-light my-2">
                <div class="d-flex justify-content-between">
                    <div class="profil">
                        <a href="" class="text-decoration-none">
                            <img src="/assets/img/img-profil.png" class="rounded-circle" alt="">
                        </a>
                    </div>
                    <div class="d-grid gap-2 btn-post rounded-pill mx-2">
                        <button class="btn btn-secondary rounded-pill text-start text-black" type="button">  Publier un post </button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between border-bottom">
                        <div class="d-flex profil">
                            <img src="/assets/img/img-prof.jpg" class="rounded-circle" alt="">
                            <ul class="list-unstyled text-black ms-3">
                                <li class="fs-6 fw-light">Pseudo User</li>
                                <li class="fs-6 fw-lighter">Date</li>
                            </ul>
                        </div>
                        <button class="btn btn-link text-black" type="button"><i class="bi bi-three-dots-vertical"></i></button>
                        <!-- <i class="bi bi-three-dots"></i> -->
                    </div>
                    <h5 class="card-title pt-2">Mon titre</h5>
                    <p class="card-text">Ut ornare nibh sit amet leo sollicitudin malesuada. Nam ac enim in elit gravida rhoncus et ut nulla. Nulla elit orci, vulputate a volutpat</p>

                </div>
                <img src="/assets/img/img-prof.jpg" class="card-img-top" alt="...">
                <!-- Les placeholders likes et commentaires -->
                <div class="d-flex justify-content-between ps-md-5 py-1">
                    <span class="text-black ms-3 text-placeholers">12 k</span>
                    <span class="text-black me-3 text-placeholers">123 commentaires</span>
                </div>
                <div class="d-flex justify-content-between ps-md-5 py-2 border-top">
                    <button type="button" class="btn  btn-sm"><i class="bi bi-hand-thumbs-up"></i> J'aime</button>
                    <button type="button" class="btn  btn-sm me-3"><i class="bi bi-chat-left-text"></i> Commenter</button>
                </div>
                <!-- Ajout des éléments une fois cliquer le botton Commenter -->
                <div class="d-none">
                    <!-- Button pour faire un commentaire -->
                    <div class="list-group-item border-0 text-light">
                        <div class="d-flex justify-content-between">
                            <div class="profil">
                                <a href="" class="text-decoration-none">
                                    <img src="/assets/img/img-profil.png" class="rounded-circle" alt="">
                                </a>
                            </div>
                            <div class="d-grid gap-2 btn-post rounded-pill mx-2">
                                <button class="btn btn-secondary rounded-pill text-start text-black" type="button">  Ajouter un commentaire </button>
                            </div>
                        </div>
                    </div>
                    <!-- Fin du button -->

                    <!-- Ajout d'un button pertinent -->
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                      Les plus pertinents </button>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                            <li><a class="dropdown-item active" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <!-- Fin du button Pertinent -->

                    <!-- Ajout de commentaire -->
                    <div class="d-flex">
                        <div class="profil ms-3 mt-2">
                            <a href="" class="text-decoration-none">
                                <img src="/assets/img/img-profil.png" class="rounded-circle" alt="">
                            </a>
                        </div>
                        <div>
                            <p class="border rounded mx-3 p-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas perspiciatis dignissimos molestias recusandae beatae! Aliquid quisquam quos, soluta in, amet ad consequatur, eos libero iste illum obcaecati mollitia! Animi,
                                quam?
                            </p>
                            <ul class="list-unstyled d-flex">
                                <li>J'aime <i class="bi bi-hand-thumbs-up"></i></li>
                                <li>Répondre</li>
                            </ul>
                        </div>

                    </div>
                    <!-- Fin de l'ajout de commentaire -->
                </div>
            </div>
        </div>
        <!-- Fin de la listes -->
        <div class="col-md-6 d-none d-md-block border-left end">
            <!-- Form Recherche -->
            <div class="d-flex my-sm-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Que recherchez-vous ? " aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">Rechercher</button>
                </form>
            </div>
        </div>

    </div>
</div>
