<div class="rub">
    <h1>Rubriques</h1>
    <div class="rubContainer">
        <div *ngFor="let categorie of categories">
            <a routerLink="/forum/fils" [queryParams]="{category: categorie.name }">
                <div class="rubBlock">
                    <img src="assets/img/rubrique{{categorie.id}}.jpg"
                         alt="Image illustrant la catégorie {{categorie.name}} du forum">
                    <span class="rubTitle">{{categorie.name}}</span>
                </div>
            </a>
        </div>
    </div>
</div>
