<div class="rub">
    <h1>Rubriques</h1>
    <div class="rubContainer">
        <div *ngFor="let categorie of categories">
            <a *ngIf="categorie.estActive" [queryParams]="{category: categorie.libelle}" routerLink="/forum/fils">
                <div class="rubBlock">
                    <img alt="Image illustrant la catégorie {{categorie.libelle}} du forum"
                         src="{{categorie.image}}">
                    <span class="rubTitle">{{categorie.libelle}}</span>
                </div>
            </a>
        </div>
    </div>
</div>
