<main class="d-flex align-items-center justify-content-center vh-100 position-relative">

  <div class="d-flex title align-self-start align-items-center justify-content-center position-absolute start-0 mt-4">
    <a href="/" class="text-decoration-none">
      <h1 class="position-relative text-white">Univer'Air</h1>
    </a>
  </div>

  <section class="bg-white col-4 d-flex justify-content-center flex-column align-items-center">
    <h2 class="pt-5 pb-2">Se connecter</h2>
    <form [formGroup]="loginForm" (submit)="login()" class="d-flex flex-column align-items-center col-8">
      <control-messages [control]="loginForm.get('email')" class="control d-flex justify-content-center col-12"></control-messages>
      <input
        type="text"
        name="email"
        placeholder="Adresse mail ou téléphone"
        required
        formControlName="email"
        id="email"
        class="form-control"
      />
      <control-messages [control]="loginForm.get('motDePasse')" class="control d-flex justify-content-center col-12"></control-messages>
        <div class="d-flex mb-4 col-12 position-relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            name="motDePasse"
            placeholder="Mot de passe"
            required
            formControlName="motDePasse"
            id="motDePasse"
            class="form-control"
          />
          <i class="bi bi-eye position-absolute" style="right: 2%; top: 20%" (click)="togglePassword()"></i>
        </div>
    <div class="col-12 mt-4 mb-4 text-center d-flex flex-column align-items-center">
        <span>{{messageError}}</span>
        <button [disabled]="!loginForm.valid" type="submit" class="btn btn-success col-4 border-none rounded-5 text-white mt-1">Confirmer</button>
    </div>
    </form>
    <div class="pb-2 pt-2 border-top border-dark col-12 text-center">
      <p>Pas inscrit ? <a routerLink="/register">S'inscrire</a></p>
    </div>
  </section>

  <div class="position-absolute end-0 top-0 blue col-3 d-inline-block">
  </div>
</main>
