main{
  background-image: url('../../../assets/img/map.png');
  background-size: cover;
  display: flex;
  .title{
    height: 10vh;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
    border-left: 30vh solid #0c5ec7;
    h1{
      left: -25vh;
    }
  }
  section{
    p{
      margin: 0;
    }
    .control{
      display: block;
      height: 20px;
      margin: 1vh 0;
    }
  }
  .blue{
    border-bottom: 100vh solid #0c5ec7;
    border-left: 30vh solid transparent;
  }
}
