<div class="" *ngIf="!isHomePage">
    <footer class="footer-container">
        <div class="footer-univair">
            <a class="" routerLink="/">
                <img alt="" src="../../../assets/img/logo/logo.png">
            </a>
            <p>© Univ'Air -  {{date | date: 'YYYY'}}</p>
        </div>
        <div class="">
            <ul class="">
                <li class="">
                    <a class=""
                       href="#">Home</a>
                </li>
                <li class="">
                    <a href="https://data.paysdelaloire.fr/pages/home/" target="_blank">data.paysdelaloire.fr</a>
                </li>
                <li class="">
                    <a href="https://airpl.org/" target="_blank">airpl</a>
                </li>
                <li class="">
                    <a href="https://openweathermap.org/api" target="_blank">OpenWeather</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
