main{
  background-image: url('../../../assets/img/map.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  min-height: max-content;
  position: relative;
  .title{
    position: absolute;
    left: 0;
    height: 12vh;
    margin-top: 3vh;
    border-top: 1vh solid transparent;
    border-bottom: 1vh solid transparent;
    border-left: 30vh solid #0c5ec7;
    a{
      text-decoration: none;
      h1{
        position: relative;
        left: -25vh;
        color: white;
      }
    }
  }
  section{
    margin: 20vh 0 10vh 0;
    max-width: 60vh;
    min-width: 50vh;
    h2{
      padding: 5vh 0 2vh 0;
    }
    .column{
      display: flex;
      flex-direction: column;
    }
    input{
      width: 75%;
    }
    #lastname{
      width: 80%;
    }
    .firstnameControl{
      width: 70%;
      align-self: flex-end;
    }
    #firstname{
      width: 80%;
      align-self: flex-end;
    }
    .name{
      width: 75%;
    }
    .terms{
      width: 80%;
      align-items: center;
    }
    p{
      width: 100%;
      font-size: 16px;
      margin: 0;
    }
    button{
      width: 15vh;
      border: none;
      border-radius: 15px;
      color: white;
      margin: 1vh 0;
      padding: 0.5vh;
    }
    .control{
      display: block;
      height: 20px;
      margin: 1vh 0;
      width: 100%;
      align-self: center;
    }
    .controlTerms{
      align-self: center;
      height: 20px;
      margin: 1vh 0;
    }
    .check{
      width: 15%;
      height: 6.5vh;
      #terms{
        height: 3vh;
        width: 25%;
      }
      .none{
        width: 0;
        height: 0;
      }
    }
  }
  .login{
    margin-top: 1vh;
    padding: 1.5vh 0;
    border-top: 1px solid black;
  }
  .blue{
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    display: inline-block;
    border-bottom: 100vh solid #0c5ec7;
    border-left: 30vh solid transparent;
  }
}
