<main class="d-flex align-items-center">

  <div class="d-flex title align-self-start align-items-center justify-content-center">
    <a href="/">
      <h1>Univer'Air</h1>
    </a>
  </div>

  <section class="text-center bg-white">
    <h2>S'inscrire</h2>
    <form [formGroup]="registerForm" (submit)="saveUser()" class="d-flex flex-column align-items-center">
      <div class="d-flex justify-content-between name">
        <div class="column">
        <input
          type="text"
          id="lastname"
          name="lastname"
          formControlName="lastname"
          placeholder="Nom"
          required
          class="form-control"
        />
        <control-messages [control]="registerForm.get('lastname')" class="control"></control-messages>
        </div>
        <div class="column">
        <input
          type="text"
          id="firstname"
          name="firstname"
          formControlName="firstname"
          placeholder="Prénom"
          required
          class="form-control"
        />
        <control-messages [control]="registerForm.get('firstname')" class="control firstnameControl"></control-messages>
        </div>
      </div>
      <input
        type="text"
        name="phone"
        placeholder="Numéro de téléphone"
        required
        formControlName="phone"
        id="phone"
        maxlength="10"
        class="form-control"
      />
      <control-messages [control]="registerForm.get('phone')" class="control"></control-messages>
      <input
        type="text"
        name="email"
        placeholder="Adresse mail"
        required
        formControlName="email"
        id="email"
        class="form-control"
      />
      <control-messages [control]="registerForm.get('email')" class="control"></control-messages>
      <input
        type="password"
        name="password"
        placeholder="Mot de passe"
        required
        formControlName="password"
        id="password"
        class="form-control"
      />
      <control-messages [control]="registerForm.get('password')" class="control"></control-messages>
      <input
        type="password"
        name="confirmPassword"
        placeholder="Confirmer le mot de passe"
        required
        formControlName="confirmPassword"
        id="confirmPassword"
        class="form-control"
      />
      <control-messages [control]="registerForm.get('confirmPassword')" class="control"></control-messages>
      <div class="terms d-flex">
        <div class="column check">
        <input
        type="checkbox"
        name="terms"
        required
        formControlName="terms"
        id="terms"
        class="check-control"
        />
        <div class="none"></div>
        </div>
        <div class="column">
        <p>J'accepte les <a href="#" class="text-warning text-decoration-none">conditions générales</a> d'utilisation</p>
        <control-messages [control]="registerForm.get('terms')" class="controlTerms"></control-messages>
        </div>
      </div>
      <button [disabled]="!registerForm.valid" type="submit" class="bg-success">Confirmer</button>
    </form>
    <div class="login">
      <p>Déjà inscrit ? <a routerLink="/login">Se connecter</a></p>
    </div>
  </section>

  <div class="blue">
  </div>
</main>
