<main class="d-flex align-items-center">

  <div class="d-flex title align-self-start align-items-center justify-content-center">
    <a href="/">
      <h1>Univer'Air</h1>
    </a>
  </div>

  <section class="text-center bg-white">
    <h2>S'inscrire</h2>
    <form (submit)="saveUser()" [formGroup]="registerForm" class="d-flex flex-column align-items-center">
      <div class="d-flex justify-content-between name">
        <div class="column">
          <control-messages [control]="registerForm.get('lastname')" class="control"></control-messages>
          <input
            class="form-control"
            formControlName="lastname"
            id="lastname"
            name="lastname"
            placeholder="Nom"
            required
            type="text"
          />
        </div>
        <div class="column">
          <control-messages [control]="registerForm.get('firstname')"
                            class="control firstnameControl"></control-messages>
          <input
            class="form-control"
            formControlName="firstname"
            id="firstname"
            name="firstname"
            placeholder="Prénom"
            required
            type="text"
          />
        </div>
      </div>
      <control-messages [control]="registerForm.get('phone')" class="control"></control-messages>
      <input
        class="form-control"
        formControlName="phone"
        id="phone"
        maxlength="10"
        name="phone"
        placeholder="Numéro de téléphone"
        required
        type="text"
      />
      <control-messages [control]="registerForm.get('email')" class="control"></control-messages>
      <input
        class="form-control"
        formControlName="email"
        id="email"
        name="email"
        placeholder="Adresse mail"
        required
        type="text"
      />
      <control-messages [control]="registerForm.get('password')" class="control"></control-messages>
      <input
        class="form-control"
        formControlName="password"
        id="password"
        name="password"
        placeholder="Mot de passe"
        required
        type="password"
      />
      <control-messages [control]="registerForm.get('confirmPassword')" class="control"></control-messages>
      <input
        class="form-control"
        formControlName="confirmPassword"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirmer le mot de passe"
        required
        type="password"
      />
      <div class="terms d-flex">
        <div class="column check">
          <input
            class="check-control"
            formControlName="terms"
            id="terms"
            name="terms"
            required
            type="checkbox"
          />
          <div class="none"></div>
        </div>
        <div class="column">
          <control-messages [control]="registerForm.get('terms')" class="controlTerms"></control-messages>
          <p>J'accepte les <a class="text-warning text-decoration-none" href="#">conditions générales</a> d'utilisation
          </p>
        </div>
      </div>
      <button [disabled]="!registerForm.valid" class="btn btn-success" type="submit">Confirmer</button>
    </form>
    <div class="login">
      <p>Déjà inscrit ? <a routerLink="/login">Se connecter</a></p>
    </div>
  </section>

  <div class="blue">
  </div>
</main>
