<main class="d-flex align-items-center justify-content-center vh-100 position-relative">

  <div class="d-flex title align-self-start align-items-center justify-content-center position-absolute start-0 mt-4">
    <a href="/" class="text-decoration-none">
      <h1 class="position-relative text-white">Univer'Air</h1>
    </a>
  </div>

  <section class="bg-white col-4 d-flex justify-content-center flex-column align-items-center">
    <h2 class="pt-5 pb-2">S'inscrire</h2>
    <form (submit)="saveUser()" [formGroup]="registerForm" class="d-flex flex-column align-items-center col-9">
      <div class="d-flex justify-content-between col-12">
        <div class="d-flex flex-column col-5">
          <control-messages [control]="registerForm.get('lastname')" class="control d-flex justify-content-center col-12"></control-messages>
          <input
            class="form-control"
            formControlName="lastname"
            id="lastname"
            name="lastname"
            placeholder="Nom"
            required
            type="text"
          />
        </div>
        <div class="d-flex flex-column col-5">
          <control-messages [control]="registerForm.get('firstname')" class="control d-flex justify-content-center col-12"></control-messages>
          <input
            class="form-control align-self-end"
            formControlName="firstname"
            id="firstname"
            name="firstname"
            placeholder="Prénom"
            required
            type="text"
          />
        </div>
      </div>
      <control-messages [control]="registerForm.get('phone')" class="control d-flex justify-content-center col-12"></control-messages>
      <input
        class="form-control"
        formControlName="phone"
        id="phone"
        maxlength="10"
        name="phone"
        placeholder="Numéro de téléphone"
        type="text"
      />
      <control-messages [control]="registerForm.get('email')" class="control d-flex justify-content-center col-12"></control-messages>
      <input
        class="form-control"
        formControlName="email"
        id="email"
        name="email"
        placeholder="Adresse mail"
        required
        type="text"
      />
      <control-messages [control]="registerForm.get('password')" class="control d-flex justify-content-center col-12"></control-messages>
        <div class="d-flex mb-2 col-12 position-relative">
            <input
            class="form-control"
            formControlName="password"
            id="password"
            name="password"
            placeholder="Mot de passe"
            required
            [type]="showPassword ? 'text' : 'password'"
            />
            <i class="bi bi-eye position-absolute" style="right: 2%; top: 20%" (click)="togglePassword()"></i>
        </div>
      <control-messages [control]="registerForm.get('confirmPassword')" class="control d-flex justify-content-center col-12"></control-messages>
        <div class="d-flex mb-2 col-12 position-relative">
            <input
                class="form-control"
                formControlName="confirmPassword"
                id="confirmPassword"
                name="confirmPassword"
                placeholder="Confirmer le mot de passe"
                required
                [type]="showConfirmPassword ? 'text' : 'password'"
            />
            <i class="bi bi-eye position-absolute" style="right: 2%; top: 20%" (click)="toggleConfirmPassword()"></i>
        </div>
      <div class="d-flex justify-content-between mt-2 col-12">
        <input
          class="d-flex align-self-end check-control col-1 mb-1"
          formControlName="terms"
          id="terms"
          name="terms"
          required
          type="checkbox"
        />
        <div class="d-flex flex-column col-10 align-items-center">
          <control-messages [control]="registerForm.get('terms')" class="control d-flex justify-content-center col-12"></control-messages>
          <p>J'accepte les <a class="text-warning text-decoration-none" href="#">conditions générales</a> d'utilisation
          </p>
        </div>
      </div>
      <button [disabled]="!registerForm.valid" class="btn btn-success col-4 border-none rounded-5 text-white mt-4 mb-3" type="submit">Confirmer</button>
    </form>
    <div class="pt-2 pb-3 border-top border-dark col-12 text-center">
      <p>Déjà inscrit ? <a routerLink="/login">Se connecter</a></p>
    </div>
  </section>
  <div class="position-absolute end-0 top-0 blue col-3 d-inline-block">
  </div>
</main>
