<div class="d-flex justify-content-center text-light basic-font page-title"> Mes stations météo favorites</div>
<!--<div class="d-flex justify-content-around flex-wrap">-->
<!--  &lt;!&ndash;Pluvieux&ndash;&gt;-->
<!--  <div class="card blue-gradient-background m-2" style="width: 18rem;">-->
<!--    &lt;!&ndash;  //Image&ndash;&gt;-->
<!--    <img class="card-img-top img-weather" src="assets/img/rain.png" alt="Card image cap">-->
<!--    <div class="card-body basic-font body-card-position text-light">-->
<!--      &lt;!&ndash;    //Ville informations&ndash;&gt;-->
<!--      <div class="cityInformations basic-font">-->
<!--        <p class="card-title m-0 text-center ">Nantes</p>-->
<!--        <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>-->
<!--        <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Météo&ndash;&gt;-->
<!--      <div class="detailsWeather row mt-4 ">-->
<!--        <p class="degree m-0 text-center "> 17°C</p>-->
<!--        <p class="degreeAppreciation m-0 text-center "> Nuageux</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Qualité de l'air&ndash;&gt;-->
<!--      <div class="detailsAirQuality mt-4">-->

<!--        <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p class="m-0">Correct</p></span>-->
<!--        <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center mt-4">-->
<!--        <div class="actionBtn me-4">-->
<!--          <a href="#" class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go-->
<!--            somewhere</a></div>-->
<!--        <a href=""> <i class="bi bi-heart-fill text-red"></i></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;Neigeux&ndash;&gt;-->
<!--  <div class="card white-gradient-background m-2" style="width: 18rem;">-->
<!--    &lt;!&ndash;  //Image&ndash;&gt;-->
<!--    <img class="card-img-top img-weather" src="assets/img/snow.png" alt="Card image cap">-->
<!--    <div class="card-body basic-font body-card-position text-light">-->
<!--      &lt;!&ndash;    //Ville informations&ndash;&gt;-->
<!--      <div class="cityInformations ">-->
<!--        <p class="card-title m-0 text-center ">Nantes</p>-->
<!--        <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>-->
<!--        <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Météo&ndash;&gt;-->
<!--      <div class="detailsWeather row mt-4 ">-->
<!--        <p class="degree m-0 text-center "> 17°C</p>-->
<!--        <p class="degreeAppreciation m-0 text-center "> Nuageux</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Qualité de l'air&ndash;&gt;-->
<!--      <div class="detailsAirQuality mt-4">-->

<!--        <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p class="m-0">Correct</p></span>-->
<!--        <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center mt-4">-->
<!--        <div class="actionBtn me-4">-->
<!--          <a href="#" class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go-->
<!--            somewhere</a></div>-->
<!--        <a href=""> <i class="bi bi-heart-fill text-red"></i></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;Orageux&ndash;&gt;-->
<!--  <div class="card grey-gradient-background m-2" style="width: 18rem;">-->
<!--    &lt;!&ndash;  //Image&ndash;&gt;-->
<!--    <img class="card-img-top img-weather" src="assets/img/storm.png" alt="Card image cap">-->
<!--    <div class="card-body basic-font body-card-position text-light">-->
<!--      &lt;!&ndash;    //Ville informations&ndash;&gt;-->
<!--      <div class="cityInformations basic-font">-->
<!--        <p class="card-title m-0 text-center ">Nantes</p>-->
<!--        <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>-->
<!--        <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Météo&ndash;&gt;-->
<!--      <div class="detailsWeather row mt-4 ">-->
<!--        <p class="degree m-0 text-center "> 17°C</p>-->
<!--        <p class="degreeAppreciation m-0 text-center "> Nuageux</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Qualité de l'air&ndash;&gt;-->
<!--      <div class="detailsAirQuality mt-4">-->

<!--        <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p class="m-0">Correct</p></span>-->
<!--        <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center mt-4">-->
<!--        <div class="actionBtn me-4">-->
<!--          <a href="#" class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go-->
<!--            somewhere</a></div>-->
<!--        <a href=""> <i class="bi bi-heart-fill text-red"></i></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;Ensoleillé&ndash;&gt;-->
<!--  <div class="card blue-gradient-background m-2" style="width: 18rem;">-->
<!--    &lt;!&ndash;  //Image&ndash;&gt;-->
<!--    <img class="card-img-top img-weather" src="assets/img/sun.png" alt="Card image cap">-->
<!--    <div class="card-body basic-font body-card-position text-light">-->
<!--      &lt;!&ndash;    //Ville informations&ndash;&gt;-->
<!--      <div class="cityInformations basic-font ">-->
<!--        <p class="card-title m-0 text-center ">Nantes</p>-->
<!--        <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>-->
<!--        <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Météo&ndash;&gt;-->
<!--      <div class="detailsWeather row mt-4 ">-->
<!--        <p class="degree m-0 text-center "> 17°C</p>-->
<!--        <p class="degreeAppreciation m-0 text-center "> Nuageux</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Qualité de l'air&ndash;&gt;-->
<!--      <div class="detailsAirQuality mt-4">-->

<!--        <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p class="m-0">Correct</p></span>-->
<!--        <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center mt-4">-->
<!--        <div class="actionBtn me-4">-->
<!--          <a href="#" class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go-->
<!--            somewhere</a></div>-->
<!--        <a href=""> <i class="bi bi-heart-fill text-red"></i></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash;Nuageux&ndash;&gt;-->
<!--  <div class="card blue-gradient-background m-2" style="width: 18rem;">-->
<!--    &lt;!&ndash;  //Image&ndash;&gt;-->
<!--    <div class="img-weather"><img class="card-img-top" src="assets/img/cloud.png" alt="Card image cap"></div>-->

<!--    <div class="card-body basic-font body-card-position text-light">-->
<!--      &lt;!&ndash;    //Ville informations&ndash;&gt;-->
<!--      <div class="cityInformations basic-font">-->
<!--        <p class="card-title m-0 text-center ">Nantes</p>-->
<!--        <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>-->
<!--        <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Météo&ndash;&gt;-->
<!--      <div class="detailsWeather row mt-4 ">-->
<!--        <p class="degree m-0 text-center "> 17°C</p>-->
<!--        <p class="degreeAppreciation m-0 text-center "> Nuageux</p>-->
<!--      </div>-->
<!--      &lt;!&ndash;    //Qualité de l'air&ndash;&gt;-->
<!--      <div class="detailsAirQuality mt-4">-->

<!--        <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p class="m-0">Correct</p></span>-->
<!--        <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>-->
<!--      </div>-->
<!--      <div class="d-flex justify-content-center mt-4">-->
<!--        <div class="actionBtn me-4">-->
<!--          <a href="#" class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go-->
<!--            somewhere</a></div>-->
<!--        <a href=""> <i class="bi bi-heart-fill text-red"></i></a>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--//////////////////////-->
<div class="container-fluid">
  <div class="row">
    <div class="">
      <div id="carouselExampleIndicators" class="carousel slide" data-interval="false" data-bs-ride="carousel">
        <div class="carousel-indicators indicator-bottom">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                  aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                  aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex justify-content-center">
              <div class="card blue-gradient-background m-2" style="width: 18rem;">
                <!--  //Image-->
                <img class="card-img-top img-weather" src="assets/img/sun.png" alt="Card image cap">
                <div class="card-body basic-font body-card-position text-light">
                  <!--    //Ville informations-->
                  <div class="cityInformations basic-font ">
                    <p class="card-title m-0 text-center ">Nantes</p>
                    <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>
                    <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>
                  </div>
                  <!--    //Météo-->
                  <div class="detailsWeather row mt-4 ">
                    <p class="degree m-0 text-center "> 17°C</p>
                    <p class="degreeAppreciation m-0 text-center "> Nuageux</p>
                  </div>
                  <!--    //Qualité de l'air-->
                  <div class="detailsAirQuality mt-4">

                  <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p
                    class="m-0">Correct</p></span>
                    <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>
                  </div>
                  <div class="d-flex justify-content-center mt-4">
                    <div class="actionBtn me-4">
                      <a href="#"
                         class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go
                        somewhere</a></div>
                    <a href=""> <i class="bi bi-heart-fill text-red"></i></a>
                  </div>
                </div>
              </div>
              <div class="card white-gradient-background m-2" style="width: 18rem;">
                <!--  //Image-->
                <img class="card-img-top img-weather" src="assets/img/snow.png" alt="Card image cap">
                <div class="card-body basic-font body-card-position text-light">
                  <!--    //Ville informations-->
                  <div class="cityInformations ">
                    <p class="card-title m-0 text-center ">Nantes</p>
                    <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>
                    <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>
                  </div>
                  <!--    //Météo-->
                  <div class="detailsWeather row mt-4 ">
                    <p class="degree m-0 text-center "> 17°C</p>
                    <p class="degreeAppreciation m-0 text-center "> Nuageux</p>
                  </div>
                  <!--    //Qualité de l'air-->
                  <div class="detailsAirQuality mt-4">

                  <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p
                    class="m-0">Correct</p></span>
                    <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>
                  </div>
                  <div class="d-flex justify-content-center mt-4">
                    <div class="actionBtn me-4">
                      <a href="#"
                         class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go
                        somewhere</a></div>
                    <a href=""> <i class="bi bi-heart-fill text-red"></i></a>
                  </div>
                </div>
              </div>
              <div class="card grey-gradient-background m-2" style="width: 18rem;">
                <!--  //Image-->
                <img class="card-img-top img-weather" src="assets/img/storm.png" alt="Card image cap">
                <div class="card-body basic-font body-card-position text-light">
                  <!--    //Ville informations-->
                  <div class="cityInformations basic-font">
                    <p class="card-title m-0 text-center ">Nantes</p>
                    <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>
                    <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>
                  </div>
                  <!--    //Météo-->
                  <div class="detailsWeather row mt-4 ">
                    <p class="degree m-0 text-center "> 17°C</p>
                    <p class="degreeAppreciation m-0 text-center "> Nuageux</p>
                  </div>
                  <!--    //Qualité de l'air-->
                  <div class="detailsAirQuality mt-4">

                  <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p
                    class="m-0">Correct</p></span>
                    <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>
                  </div>
                  <div class="d-flex justify-content-center mt-4">
                    <div class="actionBtn me-4">
                      <a href="#"
                         class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go
                        somewhere</a></div>
                    <a href=""> <i class="bi bi-heart-fill text-red"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="d-flex justify-content-center">
              <div class="card grey-gradient-background m-2" style="width: 18rem;">
                <!--  //Image-->
                <img class="card-img-top img-weather" src="assets/img/rain.png" alt="Card image cap">
                <div class="card-body basic-font body-card-position text-light">
                  <!--    //Ville informations-->
                  <div class="cityInformations basic-font">
                    <p class="card-title m-0 text-center ">Nantes</p>
                    <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>
                    <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>
                  </div>
                  <!--    //Météo-->
                  <div class="detailsWeather row mt-4 ">
                    <p class="degree m-0 text-center "> 17°C</p>
                    <p class="degreeAppreciation m-0 text-center "> Nuageux</p>
                  </div>
                  <!--    //Qualité de l'air-->
                  <div class="detailsAirQuality mt-4">

                  <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p
                    class="m-0">Correct</p></span>
                    <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>
                  </div>
                  <div class="d-flex justify-content-center mt-4">
                    <div class="actionBtn me-4">
                      <a href="#"
                         class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go
                        somewhere</a></div>
                    <a href=""> <i class="bi bi-heart-fill text-red"></i></a>
                  </div>
                </div>
              </div>

              <div class="card blue-gradient-background m-2" style="width: 18rem;">
                <!--  //Image-->
                <div class="img-weather"><img class="card-img-top" src="assets/img/cloud.png" alt="Card image cap">
                </div>

                <div class="card-body basic-font body-card-position text-light">
                  <!--    //Ville informations-->
                  <div class="cityInformations basic-font">
                    <p class="card-title m-0 text-center ">Nantes</p>
                    <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>
                    <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>
                  </div>
                  <!--    //Météo-->
                  <div class="detailsWeather row mt-4 ">
                    <p class="degree m-0 text-center "> 17°C</p>
                    <p class="degreeAppreciation m-0 text-center "> Nuageux</p>
                  </div>
                  <!--    //Qualité de l'air-->
                  <div class="detailsAirQuality mt-4">

                  <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p
                    class="m-0">Correct</p></span>
                    <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>
                  </div>
                  <div class="d-flex justify-content-center mt-4">
                    <div class="actionBtn me-4">
                      <a href="#"
                         class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Go
                        somewhere</a></div>
                    <a href=""> <i class="bi bi-heart-fill text-red"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
</div>


