@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.accordion-header button p{
  text-shadow: -1px 6px 11px #000000, -1px 4px 11px #000000, -1px 4px 11px #000000;
}
accordion-header img {
  object-fit: cover;
}
.accordion-button:after{
  display: none;
}
.cardMiniature {
  width: 286px;
  border-radius: 5% 5% 0% 0%;

}

.cardMiniatureHead {
  height: 160px;
}


.containerCards {
  width: 75%;
  justify-content: center;
}

//Variables
$small-font-size: 10px;
$danger: #8f1629;
$carousel-control-color: #7b277d;

//Color-parameters
.text-red {
  color: $danger;
}

//font-parameters
.basic-font {
  font-family: 'Inter', sans-serif;
}

//name-page
.page-title {
  font-weight: 200;
  font-size: 30px;
  padding: 5px;
}

//image-card
.img-weather {
  width: 286px;
  height: 156px;
  object-fit: cover;

}

//full-card
.cardAllInformations {
  border-radius: 0% 0% 5% 5%;
  margin-top: -160px;
}

.img-card {
  margin-left: 20px;
}


//background-mini-card
.blue-gradient-background-mini-card {
  background: #418bdd;
}

.dark-grey-gradient-background-mini-card {
  background: #333333;

}

.white-gradient-background-mini-card  {
  background: #e2e2e2;
}

.grey-gradient-background-mini-card  {
  background:  #444444 ;

}
//background-card
.blue-gradient-background {
  background: linear-gradient(#206bcc, #82ccff);
}

.grey-gradient-background {
  background: rgb(40, 40, 41);
  background: linear-gradient(180deg, rgba(40, 40, 41, 1) 0%, rgba(122, 122, 122, 1) 100%);
}

.white-gradient-background {
  background: rgb(226, 226, 226);
  background: linear-gradient(180deg, rgba(226, 226, 226, 1) 0%, rgba(166, 166, 166, 1) 62%);
}

.dark-grey-gradient-background {
  background: rgb(105, 105, 105);
  background: linear-gradient(180deg, #404040 0%, #1a1a1a 100%);
}

//body-card
.body-card-position {
  margin-top: 0px;

  .cityInformations {
    .card-title {
      font-size: 20px;
      font-weight: normal;

    }

    p {
      font-size: $small-font-size;
      font-weight: 100;

    }
  }

  .degree, .airQualityAppreciation {
    font-size: 20px;
  }

  .degreeAppreciation, .numberAirQuality {
    font-weight: 100;
  }

  .actionBtn {
    a {
      font-size: 15px;
    }

    .btnMoreInformations:hover {
      background: rgba(128, 128, 128, 0.36);

    }
  }
}

//carousel
.indicator-bottom {
  bottom: -40px;
}











