.talking {
    font-family: 'Inter', sans-serif;
}

.postDate {
    margin-top: 2em;
    font-size: 0.8em;
    color: #8e8e8e;
}

.hiddenForm {
    display: none;
}

.imageProfil {
    height: 3em;
    margin-right: 1vw;
}

.imageUpload {
    display: flex;
    margin-top: 2vh;

    span {
        margin-right: 1vw;
    }
}

.uploadedImg {
    max-width: 25%;
    height: auto;

    &:hover {
        cursor: pointer;
    }
}

.backTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #0d6efd;
    color: white;
    cursor: pointer;
    padding: 2vh 1.5vw;
    border-radius: 33px;
    font-size: 18px;

    &:hover {
        background-color: #555;
    }

    svg {
        width: 1.5em;
        height: 1.5em;
    }
}

.talkingSub {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 2em 5vw auto 5vw;
    padding: 3vh 2em;

    &:nth-child(odd) {
        background-color: #F6EFEF;
    }

    .talkingSubUp {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 1em;

        div {
            display: flex;
            align-items: center;

            h1 {
                width: max-content;
                margin-right: 3vw;
                font-size: 2em;
            }

            span {
                font-weight: 600;
                width: max-content;
                font-family: 'Inter', sans-serif;
            }

            button {
                background: none;
                border: none;
                font-size: 1.5em;
                margin-right: 2vw;
            }
        }
    }

    .sendButton {
        background-color: #0d6efd;
        border: 1px solid black;
        align-self: flex-end;
        border-radius: 25px;
        font-weight: bold;
        font-size: 1em;
        padding: 0.5em 5vw;
        margin: 1.8em 4vw 0;
        transition: transform .4s;
        color: white;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}
