<div class="talking">
    <ng-container *ngIf="post">
        <div class="talkingSub">
            <div class="talkingSubUp">
                <div>
                    <h1>{{post.titre}}</h1>
                    <img alt="" class="imageProfil" src="assets/img/profil1.png">
                    <span>{{post.pseudo}}</span>
                </div>
            </div>
            <p>
                {{post.contenu}}
            </p>
            <span class="postDate">Posté le {{post.date}}</span>
        </div>
        <ng-container *ngFor="let comment of post.commentaires">
            <div class="talkingSub">
                <div class="talkingSubUp">
                    <div>
                        <img alt="" class="imageProfil" src="assets/img/profil2.png">
                        <span>{{comment.pseudo}}</span>
                    </div>
                    <div>
                        <button (click)="onBan( comment.userId, comment.id)">
                            <span class="iconify" data-icon="el:ban-circle"></span>
                        </button>
                        <button (click)="onDelete(comment.id)">
                            <span class="iconify" data-icon="ant-design:delete-filled"></span>
                        </button>
                    </div>
                </div>
                <p>
                    {{comment.contenu}}
                </p>
                <img (click)="openImage(comment.image)" alt="" class="uploadedImg" src="{{comment.image}}">
                <span class="postDate">Posté le {{comment.date.split('.')[0].replace("T", " ")}}</span>
            </div>
        </ng-container>
    </ng-container>
</div>
<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="talkingForm" class="talkingSub">
        <div class="talkingSubUp">
            <div>
                <span>Admin</span>
            </div>
        </div>
        <input class="hiddenForm" formControlName="postId" type="text" value={{idPost}}>
        <textarea cols="30" formControlName="contenu" rows="10"></textarea>

        <button class="sendButton">Envoyer</button>
    </form>
</div>
<button (click)="scrollTop()" class="backTop" id="backTop">
    <span class="iconify"
          data-icon="ant-design:arrow-up-outlined"
          style="color: white;"></span>
</button>
