.talking {
    font-family: 'Open Sans', sans-serif;
}

.postDate {
    font-size: 0.8em;
    color: #8e8e8e;
}

.hiddenForm {
    display: none;
}

.talkingSub {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 2em 5vw auto 5vw;
    padding: 1em;

    &:nth-child(odd) {
        background-color: #F6EFEF;
    }

    .talkingSubUp {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 1em;

        div {
            display: flex;
            align-items: center;

            h1 {
                width: max-content;
                margin-right: 2vw;
            }

            span {
                font-weight: 600;
                width: max-content;
            }

            button {
                background: none;
                border: none;
                font-size: 1.5em;
                margin-right: 2vw;
            }
        }
    }

    .sendButton {
        background-color: #0d6efd;
        border: 1px solid black;
        align-self: flex-end;
        border-radius: 25px;
        font-weight: bold;
        font-size: 1em;
        padding: 0.5em 5vw;
        margin: 1.8em 4vw 4em;
        transition: transform .4s;
        color: white;

        &:hover {
            transform: scale(1.2);
            cursor: pointer;
        }
    }
}
