<div  class="talking">
    <ng-container *ngIf="post">
        <div class="talkingSub">
            <div class="talkingSubUp">
                <div>
                    <h1>{{post.titre}}</h1>
<!--                    <ng-container *ngFor="let user of users">-->
                    <img src="assets/img/profil1.png" alt="" class="imageProfil">
<!--                        <img *ngIf="user.id == post.id_user" alt="" class="imageProfil" src="{{user.profilImg}}">-->
<!--                    </ng-container>-->
                    <span>{{post.pseudo}}</span>
                </div>
            </div>
            <p>
                {{post.contenu}}
            </p>
            <span class="postDate">Posté le {{post.date}}</span>
        </div>
        <ng-container *ngFor="let comment of post.commentaires">
<!--            <ng-container *ngIf="comment.id_post == post.id">-->
                <div class="talkingSub">
                    <div class="talkingSubUp">
                        <div>
<!--                            <ng-container *ngFor="let user of users">-->
<!--                                <img *ngIf="user.id == comment.id_user" alt="" class="imageProfil"-->
<!--                                     src="{{user.profilImg}}">-->
                            <img src="assets/img/profil2.png" alt="" class="imageProfil">

                            <!--                            </ng-container>-->
                            <span>{{comment.pseudo}}</span>
                        </div>
                        <div>
                            <button (click)="onBan( comment.userId, comment.id)">
                                <span class="iconify" data-icon="el:ban-circle"></span>
                            </button>
                            <button (click)="onDelete(comment.id)">
                                <span class="iconify" data-icon="ant-design:delete-filled"></span>
                            </button>
                        </div>
                    </div>
                    <p>
                        {{comment.contenu}}
                    </p>
                    <img (click)="openImage(comment.image)" alt="" class="uploadedImg" src="{{comment.image}}">
                    <span class="postDate">Posté le {{comment.date}}</span>
                </div>
<!--            </ng-container>-->
        </ng-container>
    </ng-container>
</div>
<div>
    <form (ngSubmit)="onSubmit()" [formGroup]="talkingForm" class="talkingSub">
        <div class="talkingSubUp">
            <div>
                <span>Admin</span>
            </div>
        </div>
        <input class="hiddenForm" formControlName="postId" type="text" value={{idPost}}>
        <textarea cols="30" formControlName="contenu" rows="10"></textarea>
<!--        <div class="imageUpload">-->
<!--            <span>Ajouter une image :</span>-->
<!--            <input formControlName="image" type="file">-->
<!--        </div>-->
        <button class="sendButton">Envoyer</button>
    </form>
</div>
<button (click)="scrollTop()" class="backTop" id="backTop">
    <span class="iconify"
          data-icon="ant-design:arrow-up-outlined"
          style="color: white;"></span>
</button>
