<!--<div class="d-flex flex-column justify-content-center align-items-center mt-5">-->
<!---->
<div
  (leafletMapReady)="initializeMap($event)"
  [leafletLayers]="layer"
  [leafletOptions]="options"
  id="map"
  leaflet>
</div>
<app-search (onSearch)="refreshSearchList($event)" style="
  position: absolute;
  top: 3%;
  left: 25%;
  bottom: 90%;
  width: 50%;
  z-index: 1000;"></app-search>
<div class="d-flex flex-column" style="
  position: absolute;
  top: 3%;
  right: 2%;
  width: max-content;
  z-index: 1000;">
  <div (click)="isOpen = !isOpen" class="menu-trigger btn border btn-light dropdown-toggle shadow-menu">
    <i class="bi bi-person-circle me-2"></i> <i [ngClass]="isOpen ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
  </div>
  <div *ngIf="isOpen" [@dropDownMenu]="isOpen" class="menu">
    <div class="menu-item bg-light">
      <a [routerLink]="['/forum']" class="dropdown-item">Forum</a>

      <a [routerLink]="['/user/profile']" class="dropdown-item">Mon profil <i
        class="bi bi-person-badge"></i></a>


      <a [routerLink]="['/user/likes']" class="btn btn-outline-light me-3 dropdown-item"> Mes favoris <i
        class="bi bi-heart-fill text-danger"></i></a>


      <a *ngIf="isLogged == true && role$ === 'moderator' || role$ === 'admin'" [routerLink]="['/admin']"
         class="dropdown-item">Gestionnaire d'utilisateur <i
        class="bi bi-box-arrow-right"></i></a>


      <a (click)="logout()" *ngIf="isLogged == true" class="dropdown-item" style="cursor: pointer">Me déconnecter
        <i
          class="bi bi-box-arrow-right"></i></a>

    </div>
  </div>
</div>
<div class="d-flex" style="
  position: absolute;
  top: 2%;
  left: 0;
  width: max-content;
  z-index: 1000;">
  <a class="navbar-brand" routerLink="/">
    <img alt="" class="rounded-circle ms-3 shadow-menu" height="40" src="../../../assets/img/logo/logo.png" width="40">
  </a>
</div>
<app-weather style="
position: absolute; top: 28%; right: 1.3%; z-index: 1001;"></app-weather>


<!--</div>-->

