<main class="d-flex align-items-center justify-content-center position-relative">
  <section class="bg-white col-6 d-flex justify-content-center flex-column align-items-center">
    <h2 class="pb-4 pt-4">Compte</h2>
    <form (submit)="optionUser()" [formGroup]="optionForm" class="d-flex flex-column col-12">
      <div class="d-flex justify-content-between col-12 pb-4">
        <div class="d-flex flex-column col-3">
          <control-messages [control]="optionForm.get('nom')" class="control d-flex justify-content-center col-12"></control-messages>
          <label for="nom">Nom</label>
          <input
            class="form-control"
            formControlName="nom"
            id="nom"
            name="nom"
            placeholder="Nom"
            required
            type="text"
          />
        </div>
        <div class="d-flex flex-column col-3">
          <control-messages [control]="optionForm.get('prenom')" class="control d-flex justify-content-center col-12"></control-messages>
          <label for="prenom">Prenom</label>
          <input
            class="form-control align-self-end"
            formControlName="prenom"
            id="prenom"
            name="prenom"
            placeholder="Prénom"
            required
            type="text"
          />
        </div>
        <div class="d-flex flex-column col-3">
          <control-messages [control]="optionForm.get('pseudo')" class="control d-flex justify-content-center col-12"></control-messages>
          <label for="pseudo">Pseudo</label>
          <input
            class="form-control align-self-end"
            formControlName="pseudo"
            id="pseudo"
            name="pseudo"
            placeholder="Pseudo"
            required
            type="text"
          />
        </div>
      </div>
      <control-messages [control]="optionForm.get('phone')" class="control d-flex justify-content-center col-12"></control-messages>
      <label for="phone">Téléphone</label>
      <input
        class="form-control mb-4"
        formControlName="phone"
        id="phone"
        maxlength="10"
        name="phone"
        placeholder="Numéro de téléphone"
        type="text"
      />
      <control-messages [control]="optionForm.get('email')" class="control d-flex justify-content-center col-12"></control-messages>
      <label for="email">Email</label>
      <input
        class="form-control mb-4"
        formControlName="email"
        id="email"
        name="email"
        placeholder="Adresse mail"
        required
        type="text"
      />
      <control-messages [control]="optionForm.get('motDePasse')" class="control d-flex justify-content-center col-12"></control-messages>
      <label for="motDePasse">Mot de passe</label>
      <div class="d-flex mb-4 col-12 position-relative">
          <input
            class="form-control"
            formControlName="motDePasse"
            id="motDePasse"
            name="motDePasse"
            placeholder="Mot de passe"
            [type]="showPassword ? 'text' : 'password'"
          />
          <i class="bi bi-eye position-absolute" style="right: 2%; top: 20%" (click)="togglePassword()"></i>
      </div>
      <control-messages [control]="optionForm.get('confirmPassword')" class="control d-flex justify-content-center col-12"></control-messages>
      <label for="confirmPassword">Confirmez le mot de passe</label>
      <div class="d-flex mb-4 col-12 position-relative">
          <input
            class="form-control"
            formControlName="confirmPassword"
            id="confirmPassword"
            name="confirmPassword"
            placeholder="Confirmer le mot de passe"
            [type]="showConfirmPassword ? 'text' : 'password'"
          />
        <i class="bi bi-eye position-absolute" style="right: 2%; top: 20%" (click)="toggleConfirmPassword()"></i>
      </div>
      <h3 class="pb-4 pt-2 align-self-center">Adresse personnelle</h3>
      <control-messages [control]="optionForm.get('rue')" class="control d-flex justify-content-center col-12"></control-messages>
      <label for="rue">Rue</label>
      <input
        class="form-control mb-4"
        formControlName="rue"
        id="rue"
        name="rue"
        placeholder="Rue"
        required
        type="text"
      />
      <div class="d-flex justify-content-between col-12">
        <div class="d-flex flex-column col-5">
          <control-messages [control]="optionForm.get('codePostal')" class="control d-flex justify-content-center col-12"></control-messages>
          <label for="codePostal">Code postal</label>
          <input
            class="form-control"
            formControlName="codePostal"
            id="codePostal"
            name="codePostal"
            placeholder="Code postal"
            required
            type="text"
          />
        </div>
        <div class="d-flex flex-column col-5">
          <control-messages [control]="optionForm.get('ville')" class="control d-flex justify-content-center col-12"></control-messages>
          <label for="ville">Ville</label>
          <input
            class="form-control"
            formControlName="ville"
            id="ville"
            name="ville"
            placeholder="Ville"
            required
            type="text"
          />
        </div>
      </div>
    <div class="mt-5 mb-4 col-4 text-center align-self-center">
        <span>{{updateMessage}}</span>
        <button class="btn btn-success border-none rounded-5 text-white" type="submit">Valider les changements</button>
    </div>
    </form>
    <div class="pt-2 pb-3 border-top border-dark col-12 text-center">
      <span class="link-danger">{{deleteMessage}}</span>
      <p>Souhaitez-vous <a (click)="deleteAccount()" class="link-danger text-decoration-underline">supprimer</a> votre compte utilisateur ?</p>
    </div>
  </section>
  <div class="position-absolute end-0 top-0 blue col-3 d-inline-block">
  </div>
</main>

