<main class="d-flex align-items-center justify-content-center position-relative">
    <section class="bg-white col-6 d-flex justify-content-center flex-column align-items-center">
        <h2 class="pb-4 pt-4">Compte</h2>
        <form (submit)="optionUser()" [formGroup]="optionForm" class="row g-3">
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="nom" class="form-label">Nom</label>
                    <input
                        class="form-control"
                        formControlName="nom"
                        id="nom"
                        name="nom"
                        placeholder="Nom"
                        required
                        type="text"
                    />
                    <control-messages [control]="optionForm.get('nom')"></control-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="prenom" class="form-label">Prenom</label>
                    <input
                        class="form-control"
                        formControlName="prenom"
                        id="prenom"
                        name="prenom"
                        placeholder="Prénom"
                        required
                        type="text"
                    />
                    <control-messages [control]="optionForm.get('prenom')"></control-messages>
                </div>
            </div>
            <div class="col-md-4">
                <div class="mb-3">
                    <label for="pseudo" class="form-label">Pseudo</label>
                    <input
                        class="form-control"
                        formControlName="pseudo"
                        id="pseudo"
                        name="pseudo"
                        placeholder="Pseudo"
                        required
                        type="text"
                    />
                    <control-messages [control]="optionForm.get('pseudo')"></control-messages>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label for="phone" class="form-label">Téléphone</label>
                    <input
                        class="form-control"
                        formControlName="phone"
                        id="phone"
                        maxlength="10"
                        name="phone"
                        placeholder="Numéro de téléphone"
                        type="text"
                    />
                    <control-messages [control]="optionForm.get('phone')"></control-messages>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                        class="form-control"
                        formControlName="email"
                        id="email"
                        name="email"
                        placeholder="Adresse mail"
                        required
                        type="text"
                    />
                    <control-messages [control]="optionForm.get('email')"></control-messages>
                </div>
            </div>
            <div class="col-12">
                <div class="mb-3">
                    <label for="motDePasse" class="form-label">Mot de passe</label>
                    <div class="input-group">
                        <input
                            class="form-control"
                            formControlName="motDePasse"
                            id="motDePasse"
                            name="motDePasse"
                            placeholder="Mot de passe"
                            [type]="showPassword ? 'text' : 'password'"
                        />
                        <button
                            class="btn btn-outline-secondary"
                            type="button"
                            (click)="togglePassword()"
                        >
                            <i class="bi bi-eye"></i>
                        </button>
                    </div>
                    <control-messages [control]="optionForm.get('motDePasse')"></control-messages>
                </div>
                <control-messages [control]="optionForm.get('confirmPassword')"
                                  class="control d-flex justify-content-center col-12"></control-messages>
                <label for="confirmPassword" class="form-label m">Confirmez le mot de passe</label>
                <div class="input-group ">
                    <input class="form-control" formControlName="confirmPassword" id="confirmPassword"
                           name="confirmPassword" placeholder="Confirmer le mot de passe"
                           [type]="showConfirmPassword ? 'text' : 'password'"/>
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            (click)="toggleConfirmPassword()"><i class="bi bi-eye"></i></button>
                </div>
            </div>


            <div class="form-group">
                <h3 class="pt-4 pb-0  mb-0 text-center">Adresse personnelle</h3>
                <label for="rue">Rue</label>
                <input class="form-control" formControlName="rue" id="rue" name="rue" placeholder="Rue" required
                       type="text">
            </div>
            <div class="form-group d-flex ">
                <div class="form-group w-100 ">
                    <label for="codePostal">Code postal</label>
                    <input class="form-control" formControlName="codePostal" id="codePostal" name="codePostal"
                           placeholder="Code postal" required type="text">
                </div>

                <div class="form-group w-100">
                    <div class="form-group ">
                        <label for="ville">Ville</label>
                        <input class="form-control" formControlName="ville" id="ville" name="ville" placeholder="Ville"
                               required type="text">
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
            <div class="mt-5 mb-4 col-4 ">
                <span>{{updateMessage}}</span>
                <button class="btn btn-success border-none rounded-5 text-white" type="submit">Valider les changements
                </button>
            </div>
            </div>


        </form>
        <div class="pt-2 pb-3 border-top border-dark col-12 text-center">
            <span class="link-danger">{{deleteMessage}}</span>
            <p>Souhaitez-vous <a (click)="deleteAccount()" class="link-danger text-decoration-underline">supprimer</a>
                votre compte utilisateur ?</p>
        </div>
    </section>
</main>

