h2 {
    font-family: 'Inter', sans-serif;
}

mat-dialog-actions {
    display: flex;
    justify-content: end;
}

.newTalkForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    mat-form-field {
        font-family: 'Inter', sans-serif;
        width: 100%;
    }

    .postModalButton {
        background-color: #0d6efd;
        border: none;
        border-radius: 8px;
        color: #fff;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 0.6rem 2.4rem;
        margin: 1.8em 4vw 5vh;
        text-align: center;
        text-decoration: none;
        &:hover {
            background-color: #2a9df4;
        }
    }
}
