<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 93.4vh;">
  <div class="row ms-5">
    <div class="col-md-7 d-flex flex-column justify-content-center align-items-center">
      <h1 class="text-white align-self-baseline title-show">{{applicationName.toLocaleUpperCase()}},</h1>
      <h3 class="text-white h3 align-self-baseline subtitle-show">Votre application de qualité d'air et de météo favorite</h3>
        <p class="text-white-50 paragraph-show" style="text-justify: inter-word">Bienvenue sur notre site dédié à la météo et à la qualité de l'air ! Nous sommes une équipe passionnée qui recueille des données en temps réel pour vous fournir des informations précises sur les conditions météorologiques et la qualité de l'air dans votre région. Que vous soyez un amateur de météo, un professionnel ou simplement curieux, notre site est conçu pour vous offrir les informations les plus fiables et les plus à jour possible. Explorez nos données météorologiques et de qualité de l'air dès maintenant pour mieux comprendre les conditions qui vous entourent et prendre des décisions éclairées.</p>
    </div>
    <div class="col-md-5 d-flex flex-column justify-content-center align-items-center show-panel-right">
      <img alt="Responsive image" class="img-fluid img--sun" src="assets/img/weather.png">
      <div class="d-flex flex-column w-50">
        <a routerLink="/register" class="btn btn-warning btn-lg text-white me-3 mt-3">S'inscrire</a>
        <div class="d-flex justify-content-center">
          <a routerLink="/login" class="btn btn-outline-light btn-lg me-3 mt-3 w-75">Se connecter</a>
        </div>
      </div>
    </div>
  </div>
</div>
