.img--sun{
  width: 60%;
  height: 100%;
  object-fit: cover;
}

.title-show{
  animation: showAnimation 1s cubic-bezier(.57,1.66,.17,.85);
}

.subtitle-show{
  opacity: 0;
  animation: showAnimation 2s cubic-bezier(.57,1.66,.17,.85) 500ms;
  animation-fill-mode:forwards;
}

.paragraph-show{
  opacity: 0;
  animation: showAnimation 2s cubic-bezier(.57,1.66,.17,.85) 700ms;
  animation-fill-mode:forwards;
}

.show-panel-right{
  opacity: 0;
  animation: showAnimation 2s cubic-bezier(.57,1.66,.17,.85) 900ms;
  animation-fill-mode:forwards;
}

@keyframes showAnimation {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
