<div class="address-lookup">

  <div class="search-container">
    <input #InputSearch (click)="$event.stopPropagation()" (keyup)="changed(InputSearch.value)"
           class="form-control"
           placeholder="Rechercher une adresse..." type="text" id="search-bar" />
  </div>

  <div class="d-flex justify-content-center">
    <div *ngIf="isSearching && InputSearch.value.length > 3" class="search-box">
      <div *ngFor="let result of searchResults" class="search-result">
        <p (click)="onClickResult(result)"><i class="bi bi-geo me-2"></i> {{result.displayName}}</p><hr/>
      </div>
    </div>
  </div>
</div>


