<div class="address-lookup">


  <input #InputSearch (click)="$event.stopPropagation()" (keyup)="changed(InputSearch.value)" autofocus
         class="form-control mb-3"
         placeholder="Rechercher une adresse..." type="text"/>

  <div class="row w-50">
    <div *ngIf="isSearching && InputSearch.value.length > 3" class="search-box ms-3">
      <div *ngFor="let result of searchResults" class="search-result">
        <p (click)="onClickResult(result)">{{result.displayName}}</p>
      </div>
    </div>
  </div>
</div>


