.search-box{
  height: 200px;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.36);
  z-index: 999;
  position: absolute;
  width: 40%;
  left: 10%;
  border: 1px solid #000000;
}

.search-box p {
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
  background: #cccccc;
  &:hover {
    background: #ddd;
  }
}

input#search-bar{
  margin: 0 auto;
  width: 50%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  outline: none;
  -webkit-box-shadow: 7px 6px 22px -12px #000000;
  box-shadow: 7px 6px 22px -12px #000000;
  &:focus{
    border: 1px solid #008ABF;
    width: 75%;
    transition: 200ms ease;
    color: #262626;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -52px;
  right: 130px;
}
