<main style="min-height: 90vh" class="d-flex flex-column container">
    <div class="mb-5 mt-5 col-8 align-self-center">
        <h2 class="text-center pb-3">Gestionnaire d'utilisateur</h2>
        <div class="input-group">
            <input type="text" class="form-control"

                   name="userSearch"
                   id="userSearch"
                   placeholder="Rechercher un utilisateur"
                   (keyup)="onSearchValueChange($event)"
            /></div>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <table class="table table-striped table-hover table-bordered table-sm">

            <thead>
            <tr class="text-center ">
                <th class="col-1">Prénom</th>
                <th class="col-1">Nom</th>
                <th class="col-1">Pseudo</th>
                <th class="col-1">Mail</th>
                <th class="col-1">Téléphone</th>
                <th class="col-1">Rue</th>
                <th class="col-1">Code Postal</th>
                <th class="col-1">Ville</th>
                <th class="col-1">Modérateur</th>
                <th class="col-2">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="align-middle text-center" *ngFor="let user of getUsersForPage(pageNumber); let i=index"
                [ngClass]="{'editing': isEditing[i], 'disable': !user.actif}">
                <ng-container *ngIf="!user.editing; else editRow">
                    <td>{{user.prenom}}</td>
                    <td>{{user.nom}}</td>
                    <td>{{user.pseudo}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.telephone}}</td>
                    <td>{{user.rue}}</td>
                    <td>{{user.codePostal}}</td>
                    <td>{{user.ville}}</td>
                    <td>
                        <input class="form-check-input" type="checkbox"
                               [checked]="user.roles.includes('MODERATEUR')" disabled>
                    </td>


                    <td>
                        <span type="button" class="btn btn-warning m-2 text-white" *ngIf="user.actif"
                              (click)="editUser(user)"><i class="bi bi-pencil-square"></i> </span>
                        <ng-container *ngIf="!user.actif">
                            <span type="button" class="btn btn-primary text-white" (click)="desactivate(user)"><i
                                class="bi bi-person-check"></i></span>
                        </ng-container>
                        <ng-container *ngIf="user.actif">
                            <span type="button" class="btn btn-danger m-2 " (click)="desactivate(user)"><i
                                class="bi bi-person-x"></i></span>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-template #editRow>
                    <td>
                        <div class="input-group">
                            <input type="text" class="form-control" [(ngModel)]="user.prenom">
                        </div>
                    </td>

                    <td>
                        <div class="input-group"><input type="text" class="form-control" [(ngModel)]="user.nom"></div>
                    </td>
                    <td>
                        <div class="input-group"><input type="text" class="form-control" [(ngModel)]="user.pseudo">
                        </div>
                    </td>
                    <td>
                        <div class="input-group"><input type="text" class="form-control" [(ngModel)]="user.email"></div>
                    </td>
                    <td>
                        <div class="input-group"><input type="text" class="form-control" [(ngModel)]="user.telephone">
                        </div>
                    </td>
                    <td>
                        <div class="input-group"><input type="text" class="form-control" [(ngModel)]="user.rue"></div>
                    </td>
                    <td>
                        <div class="input-group"><input type="text" class="form-control" [(ngModel)]="user.codePostal">
                        </div>
                    </td>
                    <td>
                        <div class="input-group"><input type="text" class="form-control" [(ngModel)]="user.ville"></div>
                    </td>
                    <td>

                        <input class="form-check-input" type="checkbox" [(ngModel)]="user.isModerateur"
                               [checked]="user.roles.includes('MODERATEUR')">
                        <label class="form-check-label">
                        </label>

                    </td>


                    <td><span class="btn btn-success text-white"
                              (click)="updateUser(user, user.isModerateur); user.editing=false;">
                        <i class="bi bi-check-circle"></i>
                    </span></td>
                </ng-template>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-center">
        <div *ngFor="let pageNumber of getPageNumbers()">
            <a (click)="goToPage(pageNumber)" class="btn btn-outline-primary">{{pageNumber}}</a>
        </div>
    </div>
</main>
