@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
/* MODIFICATION DES VARIABLES BOOTSTRAP */

$primary: #0c5ec7;
$secondary: #ccd9e2;
$warning: #f19a03;
$success: #0d9a17;
$danger: #8f1629;
$btn-close-color: #ccc;
$btn-border-radius: 8px;
$btn-border-radius-lg: 8px;

@import "node_modules/bootstrap/scss/bootstrap";
