<div class="card grey-gradient-background m-2" >
  <!--  //Image-->
  <img class="card-img-top img-weather" src="assets/img/storm.png" alt="Card image cap">
  <div class="card-body basic-font body-card-position text-light">
    <!--    //Ville informations-->
    <div class="cityInformations basic-font">
      <p class="card-title m-0 text-center ">Nantes</p>
      <p class="region m-0 text-center">Loire-Atlantique (1 426 000 hab.)</p>
      <p class="WeatherStation m-0 text-center ">Station LA CHAUVINIERE</p>
    </div>
    <!--    //Météo-->
    <div class="detailsWeather row mt-4 ">
      <p class="degree m-0 text-center "> 17°C</p>
      <p class="degreeAppreciation m-0 text-center "> Nuageux</p>
    </div>
    <!--    //Qualité de l'air-->
    <div class="detailsAirQuality mt-4">

                  <span class="airQualityAppreciation m-0 text-center"> <p class="m-0">Air</p> <p
                    class="m-0">Correct</p></span>
      <p class="numberAirQuality m-0 text-center"> 20µg/m³</p>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <div class="actionBtn me-4">
        <a href="#"
           class="btnMoreInformations btn border-1 border-light text-light m-0 ps-3 pe-3 pt-0 pb-0">Plus d'informations</a></div>
      <a href=""> <i class="bi bi-heart-fill text-red"></i></a>
    </div>
  </div>
</div>
