<main class="d-flex align-items-center justify-content-end vh-100 position-relative">

  <div class="d-flex title align-self-start align-items-center justify-content-center position-absolute start-0 mt-4">
    <a href="/" class="text-decoration-none">
      <h1 class="position-relative text-white">Univer'Air</h1>
    </a>
  </div>

  <section class="bg-white col-4 d-flex justify-content-center flex-column align-items-center">
    <h2 class="pt-5 pb-2 text-center">Ajout de votre adresse postale</h2>
    <form [formGroup]="addAddressForm" (submit)="addAddress()" class="d-flex flex-column align-items-center col-8">
      <control-messages [control]="addAddressForm.get('street')" class="control d-flex justify-content-center col-12"></control-messages>
      <input
        type="text"
        name="Rue"
        placeholder="Nom de votre rue / avenue / impasse"
        required
        formControlName="street"
        id="Rue"
        class="form-control"
      />
      <control-messages [control]="addAddressForm.get('zipCode')" class="control d-flex justify-content-center col-12"></control-messages>
      <input
        type="text"
        name="CodePostal"
        placeholder="Code Postal"
        required
        formControlName="zipCode"
        id="zipCode"
        class="form-control"
        maxlength="5"
      />
      <control-messages [control]="addAddressForm.get('city')" class="control d-flex justify-content-center col-12"></control-messages>
      <input
        type="text"
        name="Ville"
        placeholder="Ville"
        required
        formControlName="city"
        id="city"
        class="form-control"
      />
      <button [disabled]="!addAddressForm.valid" type="submit" class="btn btn-success col-7 border-none rounded-5 text-white mt-5 mb-4">Accéder à Univer'Air</button>
    </form>
  </section>
  <div class="col-2"></div>

  <div class="position-absolute end-0 top-0 blue col-9 d-inline-block">
  </div>
</main>
